# Production Environment Variables
NODE_ENV=production

# Development database URL (not used in production)
# DEV_DATABASE_URL=your_development_db_url_here

# Production database URL (this will be used in production)
PROD_DATABASE_URL=your_production_db_url_here